---
import BasicLayout from "../../layouts/default.astro";
import ArticleTitle from "../../components/ArticleTitle.astro";
import SectionTitle from "../../components/SectionTitle.astro";

import { checkAuth } from "../../util/util.ts";
const token = Astro.cookies.get("token");
if (!(await checkAuth(Astro.url.origin, token?.value))) {
    return Astro.redirect("/login");
}

const repos = [
    {
        year: "2023-2",
        href: "https://github.com/IIC2233/Syllabus.git",
        contenido: "https://github.com/IIC2233/contenidos.git",
    },
    {
        year: "2023-1",
        href: "https://github.com/IIC2233/Syllabus-2023-1.git",
    },
    {
        year: "2022-2",
        href: "https://github.com/IIC2233/Syllabus-2022-2.git",
    },
    {
        year: "2022-1",
        href: "https://github.com/IIC2233/Syllabus-2022-1.git",
    },
    {
        year: "2021-2",
        href: "https://github.com/IIC2233/Syllabus-2021-2.git",
    },
];

const reposAlumnos = [
    {
        year: "2023-2",
        href: "https://github.com/VAMarques/IIC2233-2023-2-Resuelto-VAM.git",
    },
    {
        year: "2023-2",
        href: "https://github.com/Utmite/Vicente-Mu-oz-IIC2233-2023-2.git",
    },
];
---

<BasicLayout>
    <article class="py-5">
        <section>
            <header class="">
                <ArticleTitle title="Programacion Avanzada" />
            </header>
        </section>
        <section class="px-5">
            <div class="py-4">
                <SectionTitle title="Repositorios años anteriores">
                    <p class="text-lg text-slate-800 font-normal">
                        Los repositorios incluyen las pruebas escritas con
                        soluciones, así como los enunciados de las tareas y
                        actividades. Sin embargo, las soluciones de las tareas y
                        actividades no están disponibles en los repositorios.
                    </p>
                </SectionTitle>
            </div>
            <div class="overflow-x-auto rounded-lg border border-gray-200">
                <table
                    class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm"
                >
                    <thead>
                        <tr>
                            <th class="text-gray-900 py-2 text-left px-4"
                                >Año</th
                            >
                            <th class="text-gray-900 py-2 text-left px-4"
                                >Link</th
                            >
                            <th class="text-gray-900 py-2 text-left px-4">
                                Contenido
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        {
                            repos.map((item) => (
                                <tr>
                                    <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                        {item.year}
                                    </td>
                                    <td class="whitespace-nowrap px-4 py-2 text-gray-900">
                                        <a
                                            href={item.href}
                                            target="_blank"
                                            class="text-gray-900"
                                        >
                                            {item.href}
                                        </a>
                                    </td>
                                    <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                        <a
                                            href={item?.contenido}
                                            target="_blank"
                                            class="text-gray-900"
                                        >
                                            {item?.contenido}
                                        </a>
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </section>
        <section class="px-5">
            <div class="py-4">
                <SectionTitle title="Repositorios años anteriores">
                    <p class="text-lg text-slate-800 font-normal">
                        Compilación de Tareas y Actividades resueltas por
                        estudiantes con calificaciones superiores a 6.5 en el
                        promedio final, ya que los profesores no proporcionan
                        las soluciones.
                    </p>
                </SectionTitle>
            </div>
            <div class="overflow-x-auto rounded-lg border border-gray-200">
                <table
                    class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm"
                >
                    <thead>
                        <tr>
                            <th class="text-gray-900 py-2 text-left px-4"
                                >Año</th
                            >
                            <th class="text-gray-900 py-2 text-left px-4"
                                >Link</th
                            >
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        {
                            reposAlumnos.map((item) => (
                                <tr>
                                    <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                        {item.year}
                                    </td>
                                    <td class="whitespace-nowrap px-4 py-2 text-gray-900">
                                        <a
                                            href={item.href}
                                            target="_blank"
                                            class="text-gray-900"
                                        >
                                            {item.href}
                                        </a>
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </article>
</BasicLayout>
